<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- Plugin configuration start -->
  <configSections>
    <section name="pluginConfigSection" type="Application.Plugins.Config.ConfigSection, Application.Plugins" allowDefinition="Everywhere" allowLocation="true"/>
  </configSections>

  <pluginConfigSection xmlns="urn:Application.Plugins.Configuration" pluginsFolder="Plugins" keepFileHandle="false">
    <cache type="TimeInterval,FileWatch" cacheExpiryInterval="5000" slidingExpiration="true" filesystemWatcherDelay="1000" autoReloadOnCacheExpire="true"/>
  </pluginConfigSection>
  <!-- Plugin configuration end -->

  <appSettings>
  </appSettings>

</configuration>